<ng-template [ngIf]="icon === 'account'">
    <app-account-icon></app-account-icon>
</ng-template>
<ng-template [ngIf]="icon === 'dashboard'">
    <app-dashboard-icon></app-dashboard-icon>
</ng-template>
<ng-template [ngIf]="icon === 'bell'">
    <app-bell-icon></app-bell-icon>
</ng-template>
<ng-template [ngIf]="icon === 'add_person'">
    <app-add-person-icon></app-add-person-icon>
</ng-template>
<ng-template [ngIf]="icon === 'add_doc'">
    <app-add-doc-icon></app-add-doc-icon>
</ng-template>
<ng-template [ngIf]="icon === 'agent'">
    <app-agent-icon></app-agent-icon>
</ng-template>
<ng-template [ngIf]="icon ==='delete'">
    <app-delete-icon></app-delete-icon>
</ng-template>
<ng-template [ngIf]="icon ==='doc'">
    <app-doc-icon></app-doc-icon>
</ng-template>
<ng-template [ngIf]="icon ==='download'">
    <app-download-icon></app-download-icon>
</ng-template>
<ng-template [ngIf]="icon ==='file'">
    <app-file-icon></app-file-icon>
</ng-template>
<ng-template [ngIf]="icon ==='menu'">
    <app-menu-icon></app-menu-icon>
</ng-template>
<ng-template [ngIf]="icon ==='see'">
    <app-see-icon></app-see-icon>
</ng-template>
<ng-template [ngIf]="icon === 'open_box'">
    <app-open-box-icon></app-open-box-icon>
</ng-template>
<ng-template [ngIf]="icon === 'tools'">
    <app-tools-icon></app-tools-icon>
</ng-template>
<ng-template [ngIf]="icon === 'params'">
    <app-params-icon></app-params-icon>
</ng-template>
<ng-template [ngIf]="icon === 'vehicule'">
    <app-vehicule-icon></app-vehicule-icon>
</ng-template>
<ng-template [ngIf]="icon === 'update'">
    <app-update-icon></app-update-icon>
</ng-template>
