<div class="w-[500px] py-4">
    <h2 class="my-2 text-center">Declaration</h2>
    <div class=" px-4">
        <form class="w-full">
            <div class="relative z-0 w-full mb-6 group">
                <mat-form-field class="w-full">
                    <mat-label>Type de déclaration</mat-label>
                    <mat-select>
                      <mat-option [value]="'entree'">
                        Entrée
                      </mat-option>
                      <mat-option [value]="'sortie'">
                        Sortie
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <mat-form-field class="w-full">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="relative z-0 w-full mb-6 group">
                <mat-form-field class="w-full">
                    <mat-label>Sélectionner un véhicule</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let vehicule of vehicules" [value]="vehicule.id">
                        {{ vehicule?.marque }} - {{ vehicule?.couleur }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            
            <div class="relative z-0 w-full mb-6 group">
                <mat-form-field class="w-full">
                    <mat-label>Sélectionner un propriétaire</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let item of users" [value]="item.id">
                        {{ item?.firstName }} - {{ item?.lastname }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
           
        </form>
    </div>

    <!-- Close modal button -->
    <mat-dialog-actions align="end">
        <button class="button-primary" (click)="onSubmit()">Soumettre</button>
        <button class="button" [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
    </mat-dialog-actions>
</div>
