<div class="row justify-content-center p-2">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="card">
                    <div class="card-header text-left">
                     <h4>Historique des déclarations<span class="text-primary font-weight-bold"></span></h4>
                    </div>
                    <div>
                        <div class="" >
                            <ul class="grid grid-cols-6 text-gray-600">
                                <li class="">Image</li>
                                <li class="">Véhicule</li>
                                <li class="">Matricule</li>
                                <li class="">Date déclaration</li>
                                <li class="">Type déclaration</li>
                                <li class="">Actions</li>
                            </ul>
                        </div>
                        <div>
                            <ul class="grid grid-cols-6 text-gray-800 bg-white py-3 items-center">
                                <li class="">Image</li>
                                <li class="">Toyota</li>
                                <li class="">LT34DL</li>
                                <li class="">25/07/2023</li>
                                <li class="">Entrée</li>
                                <li class="flex">
                                    <button class="text-red-500 px-1"><app-svg icon="delete" class="w-6" ></app-svg></button>
                                    <button class="text-blue-500 px-1"><app-svg icon="update" class="w-5" ></app-svg></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                <span class="text-xs line-clamp-1">Faire une déclaration</span>
            </button>
</div>