<div class="container">
  <div class="left">
    <div class="header">
      <p class="animation a1 text-4xl">Welcome</p>
      <p class="animation a2 w-64 text-xl text-gray-500">Log in to your account using email and password</p>
    </div>
    <form class="form" [formGroup]="loginForm">
      <input formControlName="email" type="email" class="form-field animation a3" placeholder="Email Address">
      <input formControlName="password" type="password" class="form-field animation a4" placeholder="Password">
      <!-- <p class="animation a5"><a href="#">Forgot Password</a></p> -->
      <button class="animation a6 "(click)="onSubmit()">LOGIN</button>
    </form>
  </div>
  <div class="right"></div>
</div>