@tailwind base;
@tailwind components;
@tailwind utilities;

//@use "@angular/material" as mat;

//@include mat.core();



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100% !important;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F2F2F2;
}

app-svg{
  @apply block
}

.bg-primary{
  background-color: #0C2035;
}

.icon-button {
  transition: 300ms;
  @apply w-10 h-10 rounded-full flex-none flex justify-center items-center text-gray-400 hover:text-gray-500 hover:bg-gray-400/30
  }

.button-primary {
  transition: 300ms;
  @apply bg-primary text-gray-100 text-base px-4 py-2 rounded-full hover:shadow-md flex flex-row items-center justify-center gap-2
  }

.button{
  @apply text-gray-300 text-base px-4 py-2 rounded-full hover:shadow-md flex flex-row items-center justify-center gap-2
  }

.button-gray {
  @apply bg-gray-200 text-gray-500
  }

.button-red {
  @apply bg-red-500 text-white
  }


