<nav class="py-3 px-5 bg-sky-500 border-b w-full flex-none flex flex-row justify-between items-center">
  <button mat-a [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <a mat-menu-item routerLink="/public">Accueil</a>
    <a mat-menu-item routerLink="/public/demande">Demande</a>
    <a mat-menu-item routerLink="/public/vehicule">Véhicule</a>
    <a mat-menu-item routerLink="/public/profil">Profil</a>
  </mat-menu>
    <div>
       <li class="w-12 h-12 bg-gray-400 list-none rounded-full">
       </li>
    </div>
</nav>
